<script setup lang="ts">
import { mdiFacebook, mdiGmail, mdiInstagram } from '@mdi/js';
</script>
<style scoped>
.text{
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.padding{
  font-size: 40px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
  font-size: 80px;
}
.text2{
  font-size: 25px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

</style>

<template>


  <v-container>
    <v-card color="grey" height="900">
      <v-card-title class=" justify-center py-8 ml-2 ">
      <div class="head">Portfolio</div>
      </v-card-title>
      <br>
      <v-row>
        <v-col>
          <v-avatar size="200" class="ml-10">
      <v-img src ="100089.jpg" cover/>
    </v-avatar>
         <br><br>

         <div class="padding ml-2">About Me</div>
          <div class="text ml-10" >ชื่อ : นายธัชชัย เรืองสุข</div>
          <div class="text ml-10" >ชื่อเล่น : บีม อายุ : 19 ปี</div>
          <div class="text ml-10" >วันเกิด : 18 กุมภาพันธ์ 2546</div>
          <div class="text ml-10" >ศาสนา : พุทธ สัญชาติ : ไทย</div>
          <br>
          <div class="padding ml-2">Address</div>
          <div class="text ml-10" >26/1 ม.3 ต.ห้วยกะปิ อ.เมือง จ.ชลบุรี 20000</div>
          <br>
          <div class="padding ml-2">Contact</div>
          


    <v-btn class="ml-5" href="https://www.facebook.com/ThatchaiRuangsook" target="_blank" color="blue" >
<v-icon dark :icon="mdiFacebook"></v-icon><div>ธัชชัย เรืองสุข</div>
</v-btn>
<br>
<v-btn class="ml-5 mt-2" href="https://www.instagram.com/thatchai_ruangsook/" target="_blank" color="pink" >
<v-icon dark :icon="mdiInstagram"></v-icon><div>thatchai_ruangsook</div>
</v-btn>
<br>
<v-btn class="ml-5 mt-2" href="https://mail.google.com/mail/u/0/#inbox" target="_blank" color="white" >
<v-icon dark :icon="mdiGmail"></v-icon><div>beam0622321090@gmail.com</div>
</v-btn>


        </v-col >
      

        <v-col cols="6">   
          <div class="padding ml-2">Education History</div>
          
          
          <v-table class="ml-10" style="background-color: gainsboro; width: 450px" height="400px" >
            
            <div class="text2 " >อนุบาล - ประถมศึกษา</div>
            <v-img src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/262537778_1047895886053717_538043416932728993_n.png?stp=dst-png_s160x160&_nc_cat=105&ccb=1-7&_nc_sid=85a577&_nc_ohc=8ckM6tEWLbYAX-P5iFd&_nc_oc=AQlcBYrww6nBm40wjAbfUWDd8GMyXvT64XKYl-bO90So1AHtPgIlqUV7vvGWztXLXOupHsuPC-N7dVCZn4_aU7Np&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCoaCLCrAWf21yOhAe3sREncMYPwAUtyqlr6HvEH4qJ2g&oe=63A1F614" width="100"
             class="ml-2" />
            <div class="text ">โรงเรียนบูรพาวิทยา ชลบุรี</div>
            <br>
            <div class="text2 " >มัธยมศึกษา</div>
            <v-img src="https://upload.wikimedia.org/wikipedia/th/thumb/2/21/Chonradsadornumrung_School.png/800px-Chonradsadornumrung_School.png" width="100"
             class="ml-2 mt-3" />
            <div class="text " >ชลราษฎรอํารุง</div>
          </v-table>
          <br>
          <div class="padding ml-2">Hobbies</div>
          
          <v-avatar size="40" class="ml-10">
      <v-img src ="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" />
    </v-avatar>
    <v-text class="text "> ดู Youtubes</v-text>
    <v-avatar size="40" class="ml-10">
      <v-img src ="https://cdn-icons-png.flaticon.com/512/2504/2504946.png" />
    </v-avatar>
    <v-text class="text "> ดูสตรีม Twitch</v-text>
    <br><br>
    <v-avatar size="40" class="ml-10">
      <v-img src ="https://img.icons8.com/color/480/valorant.png" />
    </v-avatar>
    <v-text class="text "> เล่น Valorant</v-text>
    <v-avatar size="40" class="ml-10">
      <v-img src ="https://img.icons8.com/color/480/fivem.png" />
    </v-avatar>
    <v-text class="text "> เล่น FiveM</v-text>
    <br><br>
    <v-avatar size="40" class="ml-10">
      <v-img src ="https://upload.wikimedia.org/wikipedia/commons/d/df/EFootball_2022_logo_colored.svg" />
    </v-avatar>
    <v-text class="text "> เล่น efootball 2022</v-text>  
        </v-col>
      </v-row>
    </v-card>
    
  </v-container>


</template>